@if (student) {
<div class="container">
    <div class="image-container">
        <img class="image" src="{{student.imageurl}}" alt="{{student.name}} {{student.surname}}">
    </div>
    <div class="info">
        <h2>{{student.name}} {{student.surname}}</h2>
        <p>Date of Birth: {{modifyDate()}}</p>
        <p>Gender: {{student.gender}}</p>
        <p>Birth Country: {{student.country}}</p>
        <p>marks: {{student.marks}}</p>

        @if (authServ.isAuth) {
            <form (submit)="getMarks($event)" id="form">
                <label for="mark">add mark: </label>
                <input type="number" name="mark" id="mark" min="0" max="10" required>
                <button type="submit" [disabled]="">submit</button>
            </form>
            <button (click)="showDialogue()">Delete</button>
        }
       
        
        <dialog id="dialog">
            <p>are you sure?</p>
            <button (click)="service.deleteStudent(student, router)">yes</button>
            <button (click)="closeDialog()">no</button>
        </dialog>
    </div>

   


</div>
}