<!-- <button appSuperButton="blue" class="background" font-color="gold">pippone maledetto</button> -->
<!-- direttiva vince su classe -->
<!-- <button appSuperButton="gold">paperinissimo puzzissimo</button>
 <div appSuperButton font-color="wheat">yuppi yuppi yeh</div> -->

 <header>
    <h1>Student Manager</h1>
    <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/randomizer">Randomizer</a>
        <a routerLink="/addForm">Add Student</a>
    </nav>
 </header>

 <main>
    <router-outlet />
 </main>

 <footer>
    Work in Progress
 </footer>

