<!-- <button appSuperButton="blue" class="background" font-color="gold">pippone maledetto</button> -->
<!-- direttiva vince su classe -->
<!-- <button appSuperButton="gold">paperinissimo puzzissimo</button>
 <div appSuperButton font-color="wheat">yuppi yuppi yeh</div> -->

 <header>
    <h1 class="title">Student Manager</h1>
    <nav class="nav">
        <a routerLink="/home">Home</a>
        <a routerLink="/randomizer">Randomizer</a>
        <a *ngIf="authServ.isAuth" routerLink="/addForm">Add Student</a>
        <a *ngIf="!authServ.isAuth" routerLink="/login">Login</a>
        <a *ngIf="authServ.isAuth" (click)="logOut()">LogOut</a>
    </nav>
 </header>

 <main>
    <router-outlet />
 </main>

 <footer>
    Work in Progress
 </footer>

