<form (submit)="randomize($event)" id="form">
    <label for="number">how big should the group be?</label>
    <input type="number" id="number" name="number" placeholder="2" required>
    <button type="submit">Confirm</button>
</form>

<div>
    @for (studentArray of RandomizedArray; track $index) {
    <div class="father">
        @for (student of studentArray; track $index) {
        <div>
            <div class="img-container">
                <img class="img" src="{{student.imageurl}}" alt="">
            </div>
            <div>
                <p>{{student.name}} {{student.surname}}</p>
            </div>
        </div>
        }
    </div>
    }
</div>